/* body {
  margin: 0;
  background: #000;
} */

body {
  background-color: #e3f2fd;
  /* background-color: #fcdd9b; */
}

.carousel {
  height: 350px;
  perspective: 600px;
  margin-top: 50px;
}
.carousel .carousel-item {
  width: 400px;
}
.carousel .carousel-item img {
  width: 100%;
  object-fit: none;
}
.carousel .carousel-item h3 {
  background: #fff;
  padding: 5px 5px;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  border: black;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-family: Impact, Charcoal, sans-serif;
}
